.btn-primary {
    color: #fff !important;
    background-color: #454ADE !important;
    border-color: #454ADE !important;
    border-radius: 5px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 11px 22px !important;

    &:hover {

        color: #fff;
        background-color: #454ADE;
        border-color: #454ADE;
        border-radius: 5px;

    }
}

.btn {
    border-radius: 5px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 11px 22px !important; 

    &:focus {
        box-shadow: none;
    }
}