nav.main {

    background: transparent;
    height: 95px;
    // position: absolute;
    width: 100%;
    z-index: 1;
    padding: 20px 43px;

    @include media-breakpoint-down(md) {
        background: #0093b3;
        position: unset;
    }

    .navbar-brand {

        img {
            width: 231px;

            @include media-breakpoint-down(md) {
                width: 100px;
            }
        }

    }


    .navbar-nav {

        .nav-item {

            &.active {


                .nav-link {
                   
                    
                    &::before {
                        width: 60%;

                        @include media-breakpoint-down(md) {
                            width: 7%;
                        }
                    }
                }


            }


            .nav-link {
                color: #0093b3;
                font-size: 16px;
                font-weight: 600;
                position: relative;


                @media (min-width: 992px) {
                    padding-right: 3rem;
                    padding-left: 0;
                }

                i {
                    font-size: 18px;
                }

                span {
                    position: absolute;  
                    background: #fcb53b;
                    color: black;
                    font-weight: 800;
                    padding: 3px 6px;
                    border-radius: 24px;
                    font-size: 11px;
                    border: 1px solid white;
                    border-radius: 50%;
                    right: 2px;
                    bottom: 3px;
                }

                &:hover {
                  

                    &::before {
                        width: 60%;

                        @include media-breakpoint-down(md) {
                            width: 7%;
                        }
                    }
                }

                &::before {
                    bottom: -5px;
                    width: 0;
                    background: -webkit-gradient(linear, right bottom, left top, from(#fe7b19), color-stop(#fd9647), color-stop(#f3b382), color-stop(#fd9647), to(#fe7b19));
                    background: linear-gradient(to left top,#fe7b19,#fd9647,#f3b382,#fd9647,#fe7b19);
                    height: 3px;
                    -webkit-transition: all 0.6s ease;
                    transition: all 0.6s ease;
                    left: 1px;
                    content: '';
                    position: absolute;
                }

            }
        }
    }


    .navbar-collapse {

        background: transparent;
        z-index: 1;
        padding: 20px;
        position: unset;
        width: 100%;
        top: 135px;
        left: 0px;

        @include media-breakpoint-down(md) {
            background: #001534;
        }

        @media (max-width: 992px) {  
            position: absolute;
        } 

    }


}