<footer class="web bg-white shadow">
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-4 col-lg-3">
                <div class="mb-5 mb-lg-0" data-aos="fade-up" data-aos-once="true"  data-aos-duration="400">
                    <img src="{{ baseUrl }}/app/dist/images/logo21.png" class="img-fluid" width="140" />
                </div>

            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="mb-5 mb-md-5" data-aos="fade-up" data-aos-once="true"  data-aos-duration="600">  
                    <h5>Our Company</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="about.html">About Us</a> </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                        <li> 
                            <a href="">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="mb-5 mb-md-0" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Opportunity</a> </li>
                        <li>
                            <a href="#">RIFL Neo</a>
                        </li>
                        <li>
                            <a href="shop.html">Shop</a>
                        </li>
                        <li>
                            <a href="register-new.html">Become a business partner</a>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3 d-none">
                <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="1000">
                    <h5>Popular Products</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Perfumed Body Mist</a> </li>
                        <li>
                            <a href="#">Pure Royal 912</a>
                        </li>
                        <li>
                            <a href="#">Pure Royal 911</a>
                        </li>
                        <li>
                            <a href="#">Pure Royal 456</a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

     
    </div>

    <div class="copyright small">
        <div>
            © 2020. All rights reserved by <a href="#">riflenterprise</a>.
        </div>
    </div>


</footer>

<div class="beta">

    <input class="checkbox-cb" id="checkbox-cb" type="checkbox" />
    <div class="cookie-bar">
      <span class="message">This is a Beta website. Kindly go to <a href="contact.html">Contact Us</a> page if you have any feedback or want to report any issue.</span>
      <span class="mobile">This is a Beta website.<a href="contact.html">Contact Us</a></span>
      <label for="checkbox-cb" class="close-cb">x</label>
    </div>


</div>