{% macro  active(activePage='home', baseUrl = '') %}
       <li class="nav-item {%if activePage == 'home' %} active {% endif %}">
        <a class="nav-link" href="index.html">Home</a>
      </li>
       <li class="nav-item {%if activePage == 'about' %} active {% endif %}">
        <a class="nav-link" href="about.html">RIFL Neo</a>
      </li>
      <li class="nav-item {%if activePage == 'opportunity' %} active {% endif %}">
        <a class="nav-link" href="how.html">Opportunity</a>
      </li>
      <li class="nav-item {%if activePage == 'product' %} active {% endif %}">
        <a class="nav-link" href="coming-soon.html" target="_blank">Shop</a>
      </li>  
       <li class="nav-item {%if activePage == 'contact' %} active {% endif %}">
        <a class="nav-link pr-0" href="contact.html">Contact Us</a>
      </li>
     
      <li class="nav-item d-none {%if activePage == 'cart' %} active {% endif %}">
        <div class="d-flex">
          <a class="nav-link pr-2" href="cart.html">
            <span></span>
            <i class="fas ml-1 fa-shopping-bag"></i>
          </a>
        </div>
      </li>
      
{% endmacro %}
