


{% macro active(activePage='') %}
<li>
    <h6>Categories</h6>
    <ul>
        <li>
            <a href="#">Mens Collection</a>
        </li>
        <li>
            <a href="#">Womens Collection</a>
        </li>
        <li>
            <a href="#">Unisex</a>
        </li>
    </ul>
</li>
<li>
    <h6>Popular products</h6>
    <ul>
        <li>
            <a href="#">Creed Perfume</a>
        </li>
        <li>
            <a href="#">Axe Mens Spray</a>
        </li>
    </ul>
</li>


{% endmacro %}