


{% macro active(activePage='') %}
<li>
    <h6>Categories</h6>
    <ul>
        <li>
            <a href="product.html">Fragrances</a>
        </li>
        <li>
            <a href="product.html">Food and Edibles</a>
        </li>
        <li>
            <a href="product.html">Baby and Child</a>
        </li>
        <li class="active">
            <a href="product.html">Men Fashion</a>
        </li>
        <li>
            <a href="product.html">Ladies Fashion</a>
        </li>
        <li>
            <a href="product.html">Phones and Tablets</a>
        </li>
        <li>
            <a href="product.html">Electronic and Electrical appliances</a>
        </li>
        <li>
            <a href="product.html">Home and Kitchen</a>
        </li>
        <li>
            <a href="product.html">Auto Care</a>
        </li>
        <li>
            <a href="product.html">Office Supplies</a>
        </li>
        <li>
            <a href="product.html">Specail Offers</a>
        </li>
    </ul>
</li>
<li>
    <h6>Popular products</h6>
    <ul>
        <li>
            <a href="product.html">Creed Perfume</a>
        </li>
        <li>
            <a href="product.html">Axe Mens Spray</a>
        </li>
    </ul>
</li>


{% endmacro %}