<!-- website.nunjucks -->
{% set title='About Us' %}
{% set topNav = 'about' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}







{% block content %}
<div class="inner-pages">





</div>


<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li> -->
        </ol>
    </nav>

    <div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-none d-lg-block">
                <div class="side-menu" data-aos="fade-right" data-aos-once="true"  data-aos-duration="800">
                    <ul>

                        {% import 'templates/links/web_side_nav.njk' as sidebar %}
                        {{ sidebar.active( 'about' ) }}
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 col-xl-9">
                <h4 class="title font-weight-semi-bold" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">Who We Are</h4>
                


                <p data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">RIFL Neo is an Artificial Intelligence (A.I) powered engine that utilises customer data to curate unique experiences for customers.</p>

                <p class="mb-5" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800"> Every customer is unique with unique aspirations and expectations and once RIFL has enough data on that customer, Bingo…..that customer will get to enjoy unique curated experiences in all their retail transactions from shopping for groceries, visiting the saloon, visiting their favourite relaxation spot etc.</p>


                <h4 class="title font-weight-semi-bold" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">What We Do</h4>
                <p class="font-weight-semi-bold" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">IN THE 21ST CENTURY, DATA IS KING.</p>
                <p data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">We all have heared of the Golden Rule in the past…..it said “ one with the gold makes the rules’
                    Well that is no longer the case in the 21st Century.
                    </p>

                <p class="font-weight-semi-bold" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                    THE ONE WITH THE DATA MAKES THE RULES
                </p>

                <p data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">Our world has changed and data and the use of data rules. A search on the internet for the top 10 most valuable companies in the world will show 7 of the 10 are companies whose business models are hinged tightly around big data assimilation.</p>

                <p class="font-weight-semi-bold" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                    RETAIL IN AFRICA IS READY FOR DISRUPTION
                </p>

                <p data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">The African retails space is still mostly brick and mortar with very little e-commerce penetration. Retailers have very little personal knowledge of their customers. This results in situations where all customers are treated the same. </p>

                <p class="mb-5" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">But we know not all customers are the same. Our wants and needs at the core differ…. Real Excellent Customer Experience can only be achieved when customers are served based on their core needs.</p>


                <h4 class="title font-weight-semi-bold" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">What We Do</h4>

                <p data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">RIFL Neo learns and aggregates customer bio data, purchase history, shopping psycology, social settings etc. to determine certain customer patterns. Every single data collected is securely logged and then analyzed to properly understand the customer’s current needs and projection made for FUTURE needs. </p>

                <p data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">The gateway to RIFL Neo is <a href="shop.html" class="text-danger" target="_blank">www.snapterget.store.</a></p>
            </div>

        </div>



    </div>

</div>
<div class="brands mt-5">
    <div class="container">
        <div class="" id="carousel-wrapper">
            <ul id="carousel">  
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
            </ul>
    
        </div>
    </div>

</div>

<div class="whatpeoplesay py-5">
    <div class="text-center">
        <h3 class="d-inline-block text-white font-weight-semi-bold title">What Poeple Say</h3>
    </div>

    <div class="">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-9">



                <div class="row pt-4">
                    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                        <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="400">
                            <div>
                                <div class="w-75 content rounded">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                    bus
                                    veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                    molestias
                                    ullam!
                                </div>
                                <div class="image">
                                    <img src="../app/dist/images/avartar-01.jpg" alt="Chocolate Cake" width="100"
                                        class="rounded-circle">
                                </div>

                            </div>
                            <div>
                                <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                    <p class="m-0 text-white-50">Customer</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                        <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="600">
                            <div>
                                <div class="w-75 content rounded">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                    bus
                                    veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                    molestias
                                    ullam!
                                </div>
                                <div class="image">
                                    <img src="../app/dist/images/avartar-02.jpg" alt="Chocolate Cake" width="100"
                                        class="rounded-circle">
                                </div>

                            </div>
                            <div>
                                <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                <p class="m-0 text-white-50">Customer</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                        <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                            <div>
                                <div class="w-75 content rounded">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                    bus
                                    veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                    molestias
                                    ullam!
                                </div>
                                <div class="image">
                                    <img src="../app/dist/images/avartar-03.jpg" alt="Chocolate Cake" width="100"
                                        class="rounded-circle">
                                </div>

                            </div>
                            <div>
                                <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                    <p class="m-0 text-white-50">Partner</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


</div>








{% endblock %}

{% block scripts %}


<script type="text/javascript">

var carousel = document.getElementById('carousel');  
    var first = carousel.children[0];
    var ml = 0;

    setInterval(function(){
    ml -= 0.3;
    if (-ml > first.offsetWidth){
        first.style.marginLeft = null;
        carousel.appendChild(first);
        first = carousel.children[0];
        ml = -0.2;
    }
    first.style.marginLeft = ml + 'px';
    }, 10);



</script>



{% endblock %}