<!-- website.nunjucks -->
{% set title='Contact Us' %}
{% set topNav = 'contact' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}







{% block content %}
<div class="inner-pages">





</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li> -->
        </ol>
    </nav>

    <div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-none d-lg-block">
                <div class="side-menu">
                    <ul>

                        {% import 'templates/links/web_side_nav.njk' as sidebar %}
                        {{ sidebar.active( 'contact' ) }}
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 col-xl-9">
                <div class="mx-0 mx-md-5">
                    <p class=" mb-4">Send us a message</p>
                    <form>
                        <div class="form-group mb-4">
                          <input type="text" class="form-control"  placeholder="Name">
                        </div>
                        <div class="form-group mb-4">
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group mb-4" >
                            <textarea name="message" class="form-control" placeholder="Message" id="" cols="30" rows="10"></textarea>
                          </div>
                       
                          <div class="text-right mb-5">

                              <button type="submit" class="btn bg-white btn-primary font-weight-bold">Submit</button>
                          </div>
                      </form>
    
    
    
                </div>

            </div>

        </div>



    </div>

</div>







{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}