<!-- website.nunjucks -->
{% set title='Opportunity' %}
{% set topNav = 'opportunity' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}







{% block content %}
<div class="inner-pages">


</div>

<div class="container mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li> -->
        </ol>
    </nav>

    <div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-none d-lg-block">
                <div class="side-menu" data-aos="fade-right" data-aos-once="true"  data-aos-duration="800">
                    <ul>

                        {% import 'templates/links/web_side_nav.njk' as sidebar %}
                        {{ sidebar.active( 'how' ) }}
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 col-xl-9">

                <h5 class="font-weight-semi-bold mb-4" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">RETAIL IN AFRICA IS PROJECTED TO REACH A TRILLION DOLLARS ANNUALLY. HOW MUCH OF IT DO YOU WANT? </h4>


                <p data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">Whatever your answer is we have a proven plan and system to make it a reality. We provide an ecosystem that caters for all consumer needs through our partnerships with manufacturers, service owners etc. coupled with a world class service experience.</p>

                <p class="mt-5 font-weight-semi-bold" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">WHY CUSTOMERS LOVE US</p>

                <ol class="mt-1 how" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                    <li>
                        <p class="">
                           
                            <span class="d-block">
                                	A one stop shop for all their shopping needs
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                           
                            <span class="d-block">

                               	Best prices every day.
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                          

                            <span class="d-block">

                               	Super discount deals for their favourite brands. 
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                          
                            <span class="d-block">
                            	EARN CASH BACK ON EVERY PURCHASE.
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                          
                            <span class="d-block">
                            		EARN CASH BACK WHEN THEY REFER THEIR FAMILY AND FRIEND TO US.
                            </span>
                        </p>
                    </li>
                </ol>


                <p class="mt-5 font-weight-semi-bold" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">OUR 4 STEP SUCCESS PLAN</p>

                <ol class="mt-1 how" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                    <li>
                        <p class="">
                           
                            <span class="d-block">
                               	Become a partner and switch all your shopping to the RIFL Ecosystem
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                           
                            <span class="d-block">

                               	Give discount coupons to your family and friends to shop within our ecosystem and they will receive cash back for every purchase but you will receive a commission FOR LIFE.
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                          

                            <span class="d-block">

                               RIFL Neo makes offers to the customers to increase the spending within the ecosystem and YOU WILL GET PAID FOR LIFE.
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                          
                            <span class="d-block">
                            		We know you are ambitious…...duplicate yourself by referring other partners to perform steps 1-3 and you can build a team to achieve massive success.
                            </span>
                        </p>
                    </li>
                   
                </ol>

                <p data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">Repeat the 4 step success plan consistently and you will achieve financial freedom. Learn more here (PDF file of Compensation Plan).</p>

                <p>A video presentation.</p>


            </div>

        </div>



    </div>

</div>
<div class="brands d-none mt-5">
    <div class="container">
        <div class="" id="carousel-wrapper">
            <ul id="carousel">  
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                    </a>
                </li>
            </ul>
    
        </div>
    </div>

</div>

<div class="whatpeoplesay d-none py-5">
    <div class="text-center">
        <h3 class="d-inline-block text-white font-weight-semi-bold title">What Poeple Say</h3>
    </div>

    <div class="">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-9">



                <div class="row pt-4">
                    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                        <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="400">
                            <div>
                                <div class="w-75 content rounded">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                    bus
                                    veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                    molestias
                                    ullam!
                                </div>
                                <div class="image">
                                    <img src="../app/dist/images/avartar-01.jpg" alt="Chocolate Cake" width="100"
                                        class="rounded-circle">
                                </div>

                            </div>
                            <div>
                                <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                    <p class="m-0 text-white-50">Customer</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                        <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="600">
                            <div>
                                <div class="w-75 content rounded">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                    bus
                                    veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                    molestias
                                    ullam!
                                </div>
                                <div class="image">
                                    <img src="../app/dist/images/avartar-02.jpg" alt="Chocolate Cake" width="100"
                                        class="rounded-circle">
                                </div>

                            </div>
                            <div>
                                <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                <p class="m-0 text-white-50">Customer</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                        <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                            <div>
                                <div class="w-75 content rounded">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                    bus
                                    veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                    molestias
                                    ullam!
                                </div>
                                <div class="image">
                                    <img src="../app/dist/images/avartar-03.jpg" alt="Chocolate Cake" width="100"
                                        class="rounded-circle">
                                </div>

                            </div>
                            <div>
                                <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                    <p class="m-0 text-white-50">Partner</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


</div>








{% endblock %}

{% block scripts %}


<script type="text/javascript">

var carousel = document.getElementById('carousel');  
    var first = carousel.children[0];
    var ml = 0;

    setInterval(function(){
    ml -= 0.3;
    if (-ml > first.offsetWidth){
        first.style.marginLeft = null;
        carousel.appendChild(first);
        first = carousel.children[0];
        ml = -0.2;
    }
    first.style.marginLeft = ml + 'px';
    }, 10);



</script>



{% endblock %}