<!-- website.nunjucks -->
{% set title='Welcome' %}
{% set topNav = 'home' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}




{% block content %}


<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ baseUrl }}/app/dist/images/2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="font-weight-bold">Join Us</h1>
                    <h4 class="mb-4" style="line-height: 40px;">Join PTEN to enjoy fantastic products <br> and the
                        lifestyle you always dreamed of.</h4>
                    <a href="login.html" class="btn d-inline-block btn-primary"> REGISTER NOW</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ baseUrl }}/app/dist/images/3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="font-weight-bold">Why Work With Us</h1>
                    <h4 class="mb-4" style="line-height: 40px;">We create products, which can be shared and a <br>
                        lifestyle that will give you financial freedom.</h4>
                    <a href="login.html" class="btn d-inline-block btn-primary"> REGISTER NOW</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ baseUrl }}/app/dist/images/4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="font-weight-bold">First slide label</h1>
                    <h4 class="mb-4" style="line-height: 40px;">Nulla vitae elit libero, a pharetra augue mollis <br>
                        interdum.</h4>
                    <a href="contact.html" class="btn d-inline-block btn-primary"> Contact Us</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="py-4 bg-light mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-9">

                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="m-0 font-weight-semi-bold">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h5>
                    </div>
                    <div>
                        <a href="register-new.html" class="btn d-inline-block btn-primary"> REGISTER NOW</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="my-5 py-5">
        <div>
            <div class="text-center">
                <h3 class="d-inline-block font-weight-semi-bold title">Retail in Africa is ready for consumption</h3>
            </div>
        </div>
        <div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="icon-box" data-aos="fade-up" data-aos-once="true"  data-aos-duration="400">

                        <div class="">
                            <img src="{{ baseUrl }}/app/dist/images/populatoin.png" class="img-fluid img-hover-zoom" width="" />
                        </div>

                        <h5>Population</h5>

                        <p>1.3 billion people</p>

                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="icon-box" data-aos="fade-up" data-aos-once="true"  data-aos-duration="600">
                        <div class="">
                            <img src="{{ baseUrl }}/app/dist/images/retail.png" class="img-fluid img-hover-zoom" width="" />

                        </div>

                        <h5>Size of Retail</h5>

                        <p>1.3 billion people</p>

                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="icon-box" data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                        <div class="">
                            <img src="{{ baseUrl }}/app/dist/images/ecomerce.png" class="img-fluid img-hover-zoom" width="" />

                        </div>

                        <h5>Ecomerce</h5>

                        <p>less than 0.05% total retail</p>

                    </div>

                </div>

                <div class="col-12 col-md-6 col-lg-2">
                    <div class="icon-box" data-aos="fade-up" data-aos-once="true"  data-aos-duration="1000">
                        <div class="">
                            <img src="{{ baseUrl }}/app/dist/images/data.png" class="img-fluid img-hover-zoom" width="" />

                        </div>

                        <h5>Data Usage</h5>

                        <p>Very minimum</p>

                    </div>

                </div>



            </div>
        </div>
    </div>

    <div class="bg-light service-style">
        <div>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-3" data-aos="fade-right" data-aos-once="true"  data-aos-duration="1000">
                    <div>
                        <h3 class="font-weight-semi-bold">Our Plan Is Big Data</h3>
                        <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati debitis tempora minima illo, qui ab amet placeat nisi ipsam. maiores eveniet in sint inventore.</p>
                        <div>
                            <a href="register-new.html" class="btn d-inline-block btn-primary"> Learn More</a>
                        </div>




                    </div>
                   

                </div>
                <div class="col-12 col-md-6 col-lg-3 offset-1" data-aos="fade-left" data-aos-once="true"  data-aos-duration="1000">
                    <img src="{{ baseUrl }}/app/dist/images/data.svg" class="img-fluid" width="" />
                </div>
               

             


            </div>
        </div>

    </div>
    <div class="service-style">
        <div>
            <div class="row justify-content-center align-items-center">
               
                <div class="col-12 col-md-6 col-lg-3" data-aos="fade-right" data-aos-once="true"  data-aos-duration="1000">
                    <img src="{{ baseUrl }}/app/dist/images/africa.svg" class="img-fluid" width="" />


                </div>
                <div class="col-12 col-md-6 col-lg-3 offset-1" data-aos="fade-left" data-aos-once="true"  data-aos-duration="1000">
                    <div>
                        <h3 class="font-weight-semi-bold">Own A Piece of Africa Retial</h3>
                        <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati debitis tempora minima illo, qui ab amet placeat nisi ipsam. maiores eveniet in sint inventore.</p>
                        <div>
                            <a href="register-new.html" class="btn d-inline-block btn-primary"> Learn More</a>
                        </div>




                    </div>
                   

                </div>
               

             


            </div>
        </div>

    </div>
    <div class="bg-light service-style">
        <div>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-3" data-aos="fade-right" data-aos-once="true"  data-aos-duration="1000">
                    <div>
                        <h3 class="font-weight-semi-bold">Get Paid To Shop From Your Favorite Brands</h3>
                        <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati debitis tempora minima illo, qui ab amet placeat nisi ipsam. maiores eveniet in sint inventore.</p>
                        <div>
                            <a href="register-new.html" class="btn d-inline-block btn-primary"> Learn More</a>
                        </div>




                    </div>
                   

                </div>
                <div class="col-12 col-md-6 col-lg-3 offset-1" data-aos="fade-left" data-aos-once="true"  data-aos-duration="1000">
                    <img src="{{ baseUrl }}/app/dist/images/paid.svg" class="img-fluid p-4" width="" />


                </div>
               

             


            </div>
        </div>

    </div>



    <div class="row justify-content-center d-none">
        <div class="col-12 col-md-10 col-lg-9 col-xl-7">
            <div>
                <h5 class="product-title">Top Selling Items</h5>
                <div>
                    <div class="row items">
                        <div class="col-6 col-md-3">
                            <div class="card item border-0">
        
        
                                <a href="item-details.html" class="item-add">
                                    <div class="brand">
                                        Dove
                                    </div>
            
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1" width="" />
                                    </div>
            
                                    <div class="item-text px-3 text-center pt-2 pb-3">
            
            
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>
        
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card item border-0">
        
        
                                <a href="item-details.html" class="item-add">
                                    <div class="brand">
                                        Channel
                                    </div>
            
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1" width="" />
                                    </div>
            
                                    <div class="item-text px-3 text-center pt-2 pb-3">
            
            
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>
        
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card item border-0">
        
        
                                <a href="item-details.html" class="item-add">
                                    <div class="brand">
                                        Bulgari
                                    </div>
            
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1" width="" />
                                    </div>
            
                                    <div class="item-text px-3 text-center pt-2 pb-3">
            
            
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>
        
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="card item border-0">
        
        
                                <a href="item-details.html" class="item-add">
                                    <div class="brand">
                                        Armani
                                    </div>
            
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1" width="" />
                                    </div>
            
                                    <div class="item-text px-3 text-center pt-2 pb-3">
            
            
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>
        
                        </div>
        
                    </div>
                </div>
            </div>

            <div class="text-right mt-5  mb-5">
                <a href="product.html" class=" d-inline-block small"> View More <i class="fa fa-arrow-right"></i></a>
            </div>


            <div class="my-5">

                <img src="{{ baseUrl }}/app/dist/images/bg-half.png" class="img-fluid" width="" />
        
            </div>
        

        </div>
    </div>

   


    <div class="whatpeoplesay py-5">
        <div class="text-center">
            <h3 class="d-inline-block text-white font-weight-semi-bold title">What Poeple Say</h3>
        </div>

        <div class="">

            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-9 col-xl-9">



                    <div class="row pt-4">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                            <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="400">
                                <div>
                                    <div class="w-75 content rounded">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                        bus
                                        veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                        molestias
                                        ullam!
                                    </div>
                                    <div class="image">
                                        <img src="../app/dist/images/avartar-01.jpg" alt="Chocolate Cake" width="100"
                                            class="rounded-circle">
                                    </div>

                                </div>
                                <div>
                                    <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                        <p class="m-0 text-white-50">Customer</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                            <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="600">
                                <div>
                                    <div class="w-75 content rounded">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                        bus
                                        veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                        molestias
                                        ullam!
                                    </div>
                                    <div class="image">
                                        <img src="../app/dist/images/avartar-02.jpg" alt="Chocolate Cake" width="100"
                                            class="rounded-circle">
                                    </div>

                                </div>
                                <div>
                                    <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                    <p class="m-0 text-white-50">Customer</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-4">
                            <div data-aos="fade-up" data-aos-once="true"  data-aos-duration="800">
                                <div>
                                    <div class="w-75 content rounded">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus facilis
                                        bus
                                        veritatis voluptates nam laudantium impedit laborum, eos voluptatem, itaque
                                        molestias
                                        ullam!
                                    </div>
                                    <div class="image">
                                        <img src="../app/dist/images/avartar-03.jpg" alt="Chocolate Cake" width="100"
                                            class="rounded-circle">
                                    </div>

                                </div>
                                <div>
                                    <h5 class="mb-1 text-white font-weight-semi-bold">Ella Fisher</h5>
                                        <p class="m-0 text-white-50">Partner</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
    <div class="brands d-none">
        <div class="container">
            <div class="" id="carousel-wrapper">
                <ul id="carousel">  
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://i.postimg.cc/t4w94PSN/logo1.png" alt="">
                        </a>
                    </li>
                </ul>
        
            </div>
        </div>
    
    </div>

</div>
</div>

</div>






{% endblock %}

{% block scripts %}


<script type="text/javascript">


    var carousel = document.getElementById('carousel');  
    var first = carousel.children[0];
    var ml = 0;

    setInterval(function(){
    ml -= 0.3;
    if (-ml > first.offsetWidth){
        first.style.marginLeft = null;
        carousel.appendChild(first);
        first = carousel.children[0];
        ml = -0.2;
    }
    first.style.marginLeft = ml + 'px';
    }, 10);


</script>



{% endblock %}