<!-- website.nunjucks -->
{% set title='Products' %}
{% set topNav = 'product' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}







{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="product.html">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Perfumed Body Mist</li>
        </ol>
    </nav>

    <div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-none d-lg-block">
                <div class="side-menu">
                    <ul class="product">

                        {% import 'templates/links/product_side_nav.njk' as sidebar %}
                        {{ sidebar.active( 'product' ) }}
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 col-xl-9">
                <div>
                    <div>

                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div>
                                    <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                    width="" />
                                </div>
                                
                            </div>
                            <div class="col">
                                <span class="text-muted small mb-2 d-block">Armani</span>
                                <h4>Perfumed Body Mist</h4>

                                <p class="text-muted small">Category: Mens Fashion</p>

                                <h3 class="font-weight-semi-bold">GHS 23.00</h3>


                                <div class="d-flex mt-5">
                                    <div class="quantity mr-3">
                                        <input type="number" min="1" max="100" step="1" value="1">
                                      </div>

                                      <a href="#" class="btn d-inline-block btn-primary mr-3"> Add to cart <i class="fas ml-1 fa-shopping-bag"></i></a>
                                      <a href="#" class="btn d-inline-block btn-danger"> Buy Now</i></a>

                                </div>
                                <div class="mt-5">
                                    <h6 class="font-weight-semi-bold">Description</h6>

                                    <div>
                                        <p>Lorem ipsum, dolor sit amet conseolorem! Maxime commodi est aliquam non. Quo ipsum consequatur quis corrupti.</p>
                                        <ul>
                                            <li>dolor sit amet</li>
                                            <li>dolor sit amet</li>
                                            <li>dolor sit amet</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="mt-5 pt-5 mb-5 pb-5">
                            <div>
                                <h5 class="product-title">Related Items</h5>
                                <div>
                                    <div class="row items">
                                        <div class="col-6 col-md-3">
                                            <div class="card item border-0">
                        
                        
                                                <a href="item-details.html" class="item-add">
                                                    <div class="brand">
                                                        Dove
                                                    </div>
                            
                                                    <div class="text-center img-holder p-2">
                                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1" width="" />
                                                    </div>
                            
                                                    <div class="item-text px-3 text-center pt-2 pb-3">
                            
                            
                                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                                    </div>
                                                </a>
                                            </div>
                        
                                        </div>
                                        <div class="col-6 col-md-3">
                                            <div class="card item border-0">
                        
                        
                                                <a href="item-details.html" class="item-add">
                                                    <div class="brand">
                                                        Channel
                                                    </div>
                            
                                                    <div class="text-center img-holder p-2">
                                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1" width="" />
                                                    </div>
                            
                                                    <div class="item-text px-3 text-center pt-2 pb-3">
                            
                            
                                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                                    </div>
                                                </a>
                                            </div>
                        
                                        </div>
                                        <div class="col-6 col-md-3">
                                            <div class="card item border-0">
                        
                        
                                                <a href="item-details.html" class="item-add">
                                                    <div class="brand">
                                                        Bulgari
                                                    </div>
                            
                                                    <div class="text-center img-holder p-2">
                                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1" width="" />
                                                    </div>
                            
                                                    <div class="item-text px-3 text-center pt-2 pb-3">
                            
                            
                                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                                    </div>
                                                </a>
                                            </div>
                        
                                        </div>
                                        <div class="col-6 col-md-3">
                                            <div class="card item border-0">
                        
                        
                                                <a href="item-details.html" class="item-add">
                                                    <div class="brand">
                                                        Armani
                                                    </div>
                            
                                                    <div class="text-center img-holder p-2">
                                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1" width="" />
                                                    </div>
                            
                                                    <div class="item-text px-3 text-center pt-2 pb-3">
                            
                            
                                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                                    </div>
                                                </a>
                                            </div>
                        
                                        </div>
                        
                                    </div>
                                </div>
                               
                    
                            </div>
                        </div>

                    </div>


                  
                </div>

            </div>

        </div>



    </div>

</div>







{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}