<!-- website.nunjucks -->
{% set title='Welcome' %}
{% set topNav = 'login' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}




{% block content %}


<div class="">
    <div class="row h-100 no-gutters">
        <div class="col-12 col-lg-5 col-md-6">

            <div class="header form" style="min-height: 970px;">

                <h5>Join Us</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>


                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="true">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="false">REGISTER</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">

                        <DIV class="py-4 position-relative">

                            <div class="loader">
                                <div class="lds-roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>

 

                            <form class="">
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="eg. kamensgh@gmail.com">

                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="••••••••••••••••••">
                                </div>

                                <div class="form-check d-flex justify-content-between">
                                    <div>
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Remember me</label>

                                    </div>

                                    <label class="forgot-password"><a href="#">Forgot Password?</a></label>

                                </div>


                                <a href="dashboard/members.html" class="btn btn-primary mt-3">LOGIN</a>
                            </form>

                        </DIV>

                    </div>
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="py-4">

                            <form class="">
                                <div class="form-group border-danger">
                                    <label for="Email" class="text-danger">First Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="name" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Last Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="name" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="kamensgh@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Phone</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="+233 57 656 7334">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Country</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Ghana">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="••••••••••••••••••">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Account Type</label>
                                    <select class="form-control">
                                        <option>Bussiness Partner</option>
                                        <option>Customer</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Email">Sponsor ID</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="674765765">
                                </div>





                                <a href="dashboard/members.html" class="btn btn-primary mt-3">REGISTER</a>
                            </form>

                        </div>
                    </div>
                </div>





            </div>


        </div>
        <div class="col-md-6 col-lg-7 d-none d-md-block">
            <div class="side-slider">
                <div id="carouselContent" class="carousel slide w-100" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active text-center p-4">
                            <h2 class="mb-4 font-weight-bold">Customer</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo animi quaerat tempora culpa
                                aut, <br> voluptatibus tempore neque libero laboriosam voluptate nam amet voluptates
                                <br> dignissimos hic nisi similique assumenda labore ex.</p>
                        </div>
                        <div class="carousel-item text-center p-4">
                            <h2 class="mb-4 font-weight-bold">Bussiness Partner</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo animi quaerat tempora culpa
                                aut, <br> voluptatibus tempore neque libero laboriosam voluptate nam amet voluptates
                                <br> dignissimos hic nisi similique assumenda labore ex.</p>
                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>
</div>






{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}