<!-- website.nunjucks -->
{% set title='Products' %}
{% set topNav = 'product' %}
{% extends "snap_base.njk" %}


{% block stylesheet %}


{% endblock %}







{% block content %}
<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators d-none">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ baseUrl }}/app/dist/images/banners/fragrances.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h1 class="font-weight-bold">Join Us</h1>
                    <h4 class="mb-4" style="line-height: 40px;">Join PTEN to enjoy fantastic products <br> and the
                        lifestyle you always dreamed of.</h4>
                    <a href="login.html" class="btn d-inline-block btn-primary"> REGISTER NOW</a> -->
                </div>
            </div>
           
        
           
        </div>
      
    </div>
</div>
<div class="container">
   
    <div>
        <div class="row mb-4">

            <div class="col-lg-3 col-xl-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      
                    </ol>
                </nav>
            

            </div>
          

        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-none d-lg-block">
                <div class="side-menu">
                    <ul class="product m-0">

                        {% import 'templates/links/product_side_nav.njk' as sidebar %}
                        {{ sidebar.active( 'product' ) }}
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 col-xl-9">
                <div>
                    <div>

                    </div>


                    <div>

                        <h5 class="product-title">Mens Fashion</h5>
                        <div class="card-group items ">
                            <div class="card item border-0">
                               

                                <a href="item-details.html" class="item-add">
                                   <div class="brand">
                                        Dove
                                    </div>

                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">


                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>
                            <div class="card item border-0">
                               

                                <a href="item-details.html" class="item-add">
                                   <div class="brand">
                                    Dove
                                </div>

                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">


                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>




                            <div class="card item border-0">

                                <a href="item-details.html" class="item-add">
                                   <div class="brand">
                                    Dove
                                </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>

                            <div class="card item border-0">
                               

                                <a href="item-details.html" class="item-add">
                                   <div class="brand">
                                    Dove
                                </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>

                            <div class="card item border-0">

                                <a href="item-details.html" class="item-add">
                                   <div class="brand">
                                    Dove
                                </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>


                            <div class="card item border-0">

                                <a href="item-details.html" class="item-add">
                                   <div class="brand">
                                    Dove
                                </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>

                            <div class="card item border-0">

                                <a href="item-details.html" class="item-add">
                                   <div class="brand">
                                    Dove
                                </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>

                            <div class="card item border-0">

                                <a href="item-details.html" class="item-add">
                                   <div class="brand">
                                    Dove
                                </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>



                        </div>

                        <nav aria-label="Page navigation example" class="mt-5 mb-5">
                            <ul class="pagination justify-content-end">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>

            </div>

        </div>



    </div>

</div>







{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}