<!-- website.nunjucks -->
{% set title='Products' %}
{% set topNav = 'product' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}







{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

    <div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-md-none d-lg-block">
                <div class="side-menu">
                    <ul>

                        {% import 'templates/links/web_side_nav.njk' as sidebar %}
                        {{ sidebar.active( 'product' ) }}
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 col-xl-8">
                <div>
                    <div>

                    </div>


                    <div>


                        <h4 class="title">Products</h4>
                        <div class="card-group items ">
                            <div class="card item border-0">
                               

                                <a href="#" class="item-add">
                                    <div class="btn">
                                        View
                                    </div>

                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1 my-3"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">


                                        <h6 class="m-0 p-0 text-dark"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>
                            <div class="card item border-0">
                               

                                <a href="#" class="item-add">
                                    <div class="btn">
                                        View
                                    </div>

                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1 my-3"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">


                                        <h6 class="m-0 p-0 text-dark"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>




                            <div class="card item border-0">

                                <a href="#" class="item-add">
                                    <div class="btn">
                                        View
                                    </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1 my-3"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0 text-dark"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>
                                    </div>
                                </a>
                            </div>

                            <div class="card item border-0">
                               

                                <a href="#" class="item-add">
                                    <div class="btn">
                                        View
                                    </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1 my-3"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0 text-dark"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>

                            <div class="card item border-0">

                                <a href="#" class="item-add">
                                    <div class="btn">
                                        View
                                    </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1 my-3"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0 text-dark"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>


                            <div class="card item border-0">

                                <a href="#" class="item-add">
                                    <div class="btn">
                                        View
                                    </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1 my-3"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0 text-dark"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>

                            <div class="card item border-0">

                                <a href="#" class="item-add">
                                    <div class="btn">
                                        View
                                    </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1 my-3"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0 text-dark"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>

                            <div class="card item border-0">

                                <a href="#" class="item-add">
                                    <div class="btn">
                                        View
                                    </div>
                                    <div class="text-center img-holder p-2">
                                        <img src="{{ baseUrl }}/app/dist/images/1.png" class="img-fluid py-1 my-3"
                                            width="" />
                                    </div>

                                    <div class="item-text px-3 text-center pt-2 pb-3">
                                        <h6 class="m-0 p-0 text-dark"> Perfumed Body Mist</h6>
                                        <div class="text-dark font-weight-semi-bold">GHS 23.00</div>

                                    </div>
                                </a>
                            </div>



                        </div>

                        <nav aria-label="Page navigation example" class="mt-5 mb-5">
                            <ul class="pagination justify-content-end">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>

            </div>

        </div>



    </div>

</div>







{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}