<!-- website.nunjucks -->
{% set title='Welcome' %}
{% set topNav = 'home' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}



{% block content %}


<div id="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">

                <div class="header">.
                    <a href="#" class='logo'><img src="{{ baseUrl }}/app/dist/images/logo.png" width="100"
                            class="rounded-circle"></a>
                    <h5>Register</h5>
                    <div class="text-center text-muted">
                        <label class="small">Already have an account? <a href="login.html" class=""> Login</a></label>
                    </div>
                </div>

                <form class="p-0 p-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border-top" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border-top" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control border-top" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border-top" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border-top" placeholder="Country">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border-top" placeholder="Sponsor ID">
                    </div>



                    <button type="submit" class="btn btn-primary mt-5">Register</button>
                </form>


            </div>
        </div>
    </div>

</div>

<!-- <footer>
        <span>Coded by <a href="https://newtodesign.com">Newtodesign</a></span>
    </footer>
     -->






{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}