<!-- website.nunjucks -->
{% set title='About Us' %}
{% set topNav = 'about' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}







{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

    <div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-none d-lg-block">
                <div class="side-menu">
                    <ul>

                        {% import 'templates/links/web_side_nav.njk' as sidebar %}
                        {{ sidebar.active( 'why' ) }}
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 col-xl-8">

                <h4 class="title">Why Work With Us</h4>


                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <ol class="mt-5 how">
                    <li>
                        <p class="">
                            <span class="font-weight-semi-bold d-block mb-2"> Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                
                                </span>
                            <span class="d-block">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis voluptatum
                                dicta,
                                quasi
                                quibusdam architecto, dolore ipsam corporis modi suscipit a,
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                            <span class="font-weight-semi-bold d-block mb-2"> Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                </span>
                            <span class="d-block">

                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis voluptatum
                                dicta,
                                quasi
                                quibusdam architecto, dolore ipsam corporis modi suscipit a,
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                            <span class="font-weight-semi-bold d-block mb-2"> Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                               </span>

                            <span class="d-block">

                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis voluptatum
                                dicta,
                                quasi
                                quibusdam architecto, dolore ipsam corporis modi suscipit a,
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                            <span class="font-weight-semi-bold d-block mb-2"> Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                               </span>

                            <span class="d-block">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis voluptatum
                                dicta,
                                quasi
                                quibusdam architecto, dolore ipsam corporis modi suscipit a,
                            </span>
                        </p>
                    </li>
                </ol>

            </div>

        </div>



    </div>

</div>







{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}