<!-- website.nunjucks -->
{% set title='About Us' %}
{% set topNav = 'about' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}







{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

    <div>
        <div class="row">
            <div class="col-lg-3 col-xl-3 d-none d-lg-block">
                <div class="side-menu">
                    <ul>

                        {% import 'templates/links/web_side_nav.njk' as sidebar %}
                        {{ sidebar.active( 'why' ) }}
                    </ul>
                </div>

            </div>
            <div class="col-lg-9 col-xl-9">

                <h4 class="font-weight-semi-bold">RETAIL IN AFRICA IS PROJECTED TO REACH A TRILLION DOLLARS ANNUALLY. HOW MUCH OF IT DO YOU WANT? </h4>


                <p>Whatever your answer is we have a proven plan and system to make it a reality. We provide an ecosystem that caters for all consumer needs through our partnerships with manufacturers, service owners etc. coupled with a world class service experience.</p>

                <ol class="mt-5 how">
                    <li>
                        <p class="">
                           
                            <span class="d-block">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis voluptatum
                                dicta,
                                quasi
                                quibusdam architecto, dolore ipsam corporis modi suscipit a,
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                          
                            <span class="d-block">

                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis voluptatum
                                dicta,
                                quasi
                                quibusdam architecto, dolore ipsam corporis modi suscipit a,
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                            <span class="font-weight-semi-bold d-block mb-2"> Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                               </span>

                            <span class="d-block">

                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis voluptatum
                                dicta,
                                quasi
                                quibusdam architecto, dolore ipsam corporis modi suscipit a,
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="">
                            <span class="font-weight-semi-bold d-block mb-2"> Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                               </span>

                            <span class="d-block">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis voluptatum
                                dicta,
                                quasi
                                quibusdam architecto, dolore ipsam corporis modi suscipit a,
                            </span>
                        </p>
                    </li>
                </ol>

            </div>

        </div>



    </div>

</div>







{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}