{% macro active(activePage='') %}

<li class="nav-item">
    <a class="nav-link {%if activePage == 'home' %} active {% endif %}" href="dashboard.html">
      <i class="ni ni-tv-2 text-primary"></i>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {%if activePage == 'login' %} active {% endif %}" href="../login.html">
      <i class="ni ni-key-25 text-info"></i>
      <span class="nav-link-text">Login/Register</span>
    </a>
  </li>
 

{% endmacro %}
