{% macro active(activePage='') %}


  <li class="nav-item">
    <a class="nav-link  {%if activePage == 'member' %} active {% endif %}" href="members.html">
      <i class="ni ni-single-02 text-info"></i>
      <span class="nav-link-text">Members</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {%if activePage == 'product' %} active {% endif %}" href="products.html">
      <i class="ni ni-tag text-info"></i>
      <span class="nav-link-text">Products</span>
    </a>
  </li>
 

{% endmacro %}
