body {
  background-color: rgb(255, 255, 255);

  color: black;
  font-family: 'Poppins', sans-serif;
}

html *::selection {
  background: #a8d1ff;
}

html *::-moz-selection {
  background: #a8d1ff;
}

.pointer {
  cursor: pointer;
}

.header.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 116px;

  @media (max-width: 1200px) {
    padding: 0 43px;
  }

  @media (max-width: 992px) {
    padding: 0 43px;
  }

  @media (max-width: 768px) {
    padding: 0 31px;
  }

  @media (max-width: 576px) {
    padding: 0 22px;
  }

  form {
    .form-group {
      padding: 2px 16px;
      border: 1px solid #e1e1e1;

      label {
        color: #c7c7c7;
        font-size: 12px;
        margin: 0;
      }

      input,
      select {
        background: white;
        border: unset;
        height: calc(2.25rem + 0px);
        padding-left: 0;
        padding-top: 0;
        font-size: 14px;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::placeholder {
          color: #c7c7c7;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.side-slider {
  height: 100%;
  background-color: #f5f6fa;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  #carouselContent {
    .carousel-item {
      color: white;
    }

    .carousel-indicators {
      bottom: -24px;
    }
  }
}

.nav-tabs {
  .nav-item {
    .nav-link {
      font-size: 13px;
      color: #000000;
      background-color: #fff;
      border-color: white;
      font-weight: 600;

      &:hover {
        border-color: white;
      }

      &.active {
        border-bottom: 3px solid #454ade;
      }
    }
  }
}

footer.web {
  // position: fixed;
  // bottom: 10px;
  // left: 15x;

  padding-top: 70px;
  background: #1b2640;
  color: white;

  h5 {
    font-weight: 600;
  }

  ul {
    li {
      padding: 10px 0px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .copyright {
    background-color: #0f132f;
    color: white;
    text-align: center;
    padding: 35px 0;
    margin-top: 62px;
    // border-top: 1px solid #303030;
  }
}

.side-menu {
  transition: all .5s ease;
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 5px;
      background: #f8f8f8;
      position: relative;

      &.active {
        &::before {
          content: '';
          height: 100%;
          width: 3px;
          position: absolute;
          top: 0;
          left: 1;
          background: #454ade;
        }
      }

      a {
        display: block;
        background: #f8f8f8;
        padding: 23px 14px 22px 21px;
        color: black;
        font-weight: 600;
        text-decoration: none;
        font-size: 14px;
      }
    }


    &.product {
      margin-top: 37px;
      
      >li {
        background: white;
        border-bottom: 1px solid gray;
        margin-bottom: 38px;

        h6 {
          font-weight: 600;
        }

        >a {
          background: white !important;
        }


        ul {
          padding-bottom: 15px;

          li {
            background: white;

            a {
              background: white;
              padding: 7px 14px 7px 20px;
              font-weight: 100;

              &:hover {
                background: #f8f8f8;
              }
            }
          }

        }

      }
    }
  }
}

//items
.items {
  margin: 10px 0;
  transition: all .5s ease;

  // padding: 0 10px 0 0;
  .item {
    font-size: 14px;
    background: #fff;
    margin-bottom: 0;
    border-radius: 3px !important;
    text-decoration: none;
    position: relative;
    transition: all .5s ease;

    // box-shadow: 0 0 7px rgba(200, 200, 200, 0.6);
    // -moz-box-shadow: 0 0 7px rgba(200, 200, 200, 0.6);
    // -webkit-box-shadow: 0 0 7px rgba(200, 200, 200, 0.6);
    // -o-box-shadow: 0 0 7px rgba(200, 200, 200, 0.6);

    // border: 1px solid #e9eef4 !important;

    &:hover {
      text-decoration: none;

      .btn {
        display: block;
      }
    }

    .btn {
      display: none;
      position: absolute;
      width: 100%;
      bottom: 77px;
      background: #454ade;
      color: white;
      font-size: 12px;
      font-weight: 600;
      border-radius: 3px;
    }

    .item-add {
      .img-holder {
        // padding: 0.9rem;
        // height: 113px;
      }

      .item-text {
        // position: absolute;
        // bottom: 23px;
        // left: 0px;
        width: 100%;

        h6 {
          margin-top: 5px !important;
        }
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      img {
        height: 166px;
        object-fit: scale-down;
      }
    }

    a:hover {
      // color: $btn-bg;
    }

    h6 {
      padding: 10px 0 0 0;
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: 400;
    }
  }
}

// number of cards per line for each breakpoint
$cards-per-line: (
  xs: 2,
  sm: 2,
  md: 3,
  lg: 3,
  xl: 3,
);

$grid-gutter-width: 10px;

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-group .card {
      flex: 0 0
        calc(#{100 / map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
      margin: 5px 10px;
    }

    .card-group .card:first-child {
      // flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
      margin-left: 0px;
    }
  }
}

.add-items {
  @media (min-width: 1200px) {
    .card-group .card {
      flex: 0 0 calc(16% - 10px) !important;
    }
  }

  @media (min-width: 1700px) {
    .card-group .card {
      flex: 0 0 calc(24.66333% - 10px) !important;
    }
  }
}

// @media (min-width: 1200px) {
//   .card-group .card {
//     flex: 0 0 calc(20% - 10px) !important;
//   }
// }

// @media (min-width: 992px) {
//   .card-group .card {
//     flex: 0 0 calc(25% - 10px) !important;
//   }
// }


// @media (max-width: 576px) {
//   .card-group .card {
//     flex: 0 0 calc(35.66333% - 10px) !important;
//   }
// }

// @media (min-width: 1700px) {
//   .card-group .card {
//     flex: 0 0 calc(24.66333% - 10px) !important;
//   }
// }

.title {
  // font-weight: 600;
  font-size: 22px;
  position: relative;
  height: 41px;
  margin-bottom: 26px;

  &.d-inline-block {
    &::after {
      content: '';
      margin: 0 auto;
    }
  }

  &::after {
    content: '';
    height: 3px;
    width: 75px;
    position: absolute;
    bottom: 3px;
    right: 0;
    left: 0;
    z-index: 0;
    background: #454ade;
  }
}

.page-link {
  color: #ffffff;
  background-color: #1b2740;
}

.page-item.active .page-link {
  background-color: #454ade;
  border-color: #454ade;
}

.page-link:hover {
  background-color: #454ade;
  color: #ffffff;
}

ol.how {
  list-style: none;
  counter-reset: a;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  li {
    counter-increment: a;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    font-size: 16px;
    margin-bottom: 0.5rem;

    @media (max-width: 767.98px) {
      width: 100%;
    }

    p {
      margin-right: 36px;
      margin-bottom: 39px;

      @media (max-width: 767.98px) {
        margin-right: 0;
        margin-bottom: 29px;
      }
    }

    &::before {
      content: counter(a);
      font-weight: 700;
      font-size: 2rem;
      margin-right: 0.7rem;
      font-family: Abril Fatface, serif;
      line-height: 1;
      color: #454ade;
    }
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.active {
    width: 16px;
	height: 16px;
	background: transparent;
    border: 2px solid white;

    &::before {
      position: absolute;
	  width: 8px;
	  height: 8px;
	  top: 2px;
	  background: white;
	  left: 2px;
      border-radius: 50%;
    }
  }
}

.carousel-indicators {
  align-items: center;
}

.carousel-caption {
  right: unset;
  bottom: 34%;
  left: 16%;
  text-align: left;
}

.whatpeoplesay {
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
}

.whatpeoplesay .content {
  border: 2px solid #454ade;
  padding: 17px 22px;
  margin-left: 84px;

  @include media-breakpoint-down(sm) {
    height: 100%;
  }
}

.whatpeoplesay .image {
  position: relative;
  top: -19px;
}
