body {
	background-color: rgb(255, 255, 255);

	color: black;
	font-family: 'Poppins', sans-serif;
}

.header {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	//  padding: 0 116px;

	@media (max-width: 1200px) {
		padding: 0 43px;
	}

	@media (max-width: 992px) {
		padding: 0 43px;
	}

	@media (max-width: 768px) {
		padding: 0 31px;
	}

	@media (max-width: 576px) {
		padding: 0 22px;
	}





	form {

		.form-group {
			padding: 2px 16px;
			border: 1px solid #E1E1E1;

			label {
				color: #C7C7C7;
				font-size: 12px;
				margin: 0;
			}

			input,
			select {
				background: white;
				border: unset;
				height: calc(2.25rem + 0px);
				padding-left: 0;
				padding-top: 0;
				font-size: 14px;
				color: black;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;

				&::placeholder {
					color: #C7C7C7;
				}

				&:focus {
					box-shadow: none;
				}
			}
		}
	}
}

.side-slider {
	height: 100%;
	background-color: #F5F6FA;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;


	#carouselContent {


		.carousel-item {

			color: white;
		}

		.carousel-indicators {
			bottom: -24px;
		}
	}

}


.nav-tabs {

	.nav-item {

		.nav-link {
			font-size: 13px;
			color: #000000;
			background-color: #fff;
			border-color: white;
			font-weight: 600;

			&:hover {
				border-color: white;
			}


			&.active {
				border-bottom: 3px solid #454ADE;

			}
		}
	}



}

footer {
	position: fixed;
	bottom: 10px;
	left: 15x;

}