// Container
$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px);

$border-color: #dce2f0;

$breadcrumb-divider: quote(">");




@for $i from 1 through 600 {
  .vh-height-#{$i} {
    height: calc(100vh - #{$i}px);
  }
}



@for $i from 1 through 100 {
  .z-index-#{$i} {
    z-index: #{$i};
  }
}


$object: (contain:contain, cover: cover, fill: fill, scale-down: scale-down);

@each $label,
$value in $object {
  .object-fit-#{$label} {
    object-fit: $value;
  }
}
